{% extends 'base.html' %}
{% block title %}
    Community
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Want to see how people are doing in pet world?</h1>
            <p>There are {{ object_list|length }} users</p>
        
        </div>
    </div>

    <div class="container content">
        <div class="well well-sm">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Filter
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'pet:top users' 'followers'  %}">Followers</a>
                    </li>
                    <li>
                        <a href="{% url 'pet:top users' 'purchases'  %}">Purchases</a>
                    </li>
        
                </ul>
            </div>
        </div>
        <div id="products" class="row list-group">
            {% for user in object_list %}
                <div class="item  col-xs-2 col-lg-2">
                    <div class="thumbnail">
                        <div style="height: 165px; width: 165px;">
                            <a href="{% url 'pet:user profile' user.user.id %}">
                                <img class="img-rounded" style="width:100%; height:100%;" src="{{ MEDIA_URL }}/{{user.avatar}}" alt="User profile" />
                            </a>
                        </div>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading" style="text-align: center;">
                                {{ user.user.username }} </h4>
                            <div class="row">
                                <div class="col-xs-12 divider">
                                    <div class="col-xs-12 col-sm-6 emphasis" >
                                        <h2>
                                            <strong> {{user.followers.all|length}} </strong>
                                
                                        </h2>
                                        <small style="text-align: center;">Followers</small>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 emphasis" >
                                        <h2>
                                            <strong> {{user.purchases.all|length}} </strong>
                                
                                        </h2>
                                        <small style="text-align: center;">Purchases</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}